#pip==20.1.1
allennlp==1.3.0
allennlp-models==1.3.0
torch==1.7.1
transformers==4.0.1
git+git://github.com/j6mes/drqa@parallel
git+git://github.com/sheffieldnlp/fever-scorer@master
#git+https://github.com/allenai/allennlp@65ff0d87a30e6532cb21ea5fe8b7bd436445c128
captum==0.2.0
python-papi==5.5.1.2